.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.install {
  padding: 2rem 0;
  background-color: var(--ifm-background-surface-color);
}

.installCode {
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: var(--ifm-code-border-radius);
}
